<div id="header">
  <h4>@Html.ActionLink("Home", "Index", "Home")</h4>
  <h4>@Html.ActionLink("View all flavors", "Index", "Flavors")</h4>
  <h4>@Html.ActionLink("View all pastry types", "Index", "Pastries")</h4>
</div>